<% layout("/layouts/boilerplate.ejs")%>
<body>
  <div class="signupForm">
    <form
      method="post"
      action="/signup"
      class="needs-validation col-6 offset-3"
      novalidate
    >
      <p class="form-heading"># SIGNUP : THE CODING JOURNAL</p>
      <div class="mb-3">
        <label for="username" class="form-label">Author</label>
        <input
          name="username"
          placeholder="Enter your username"
          class="form-control"
          id="username"
          type="text"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          placeholder="Enter your email"
          class="form-control"
          id="email"
          type="email"
          required
        />
        <div class="invalid-feedback">Please enter valid email!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          name="password"
          placeholder="Enter password"
          class="form-control"
          type="password"
          id="password"
          required
        />
        <div class="invalid-feedback">Please enter valid password!</div>
      </div>
      <button class="signup-btn">→ Create account</button>
      <p class="login-hint">Already a member? <a href="/login">SIGN IN →</a></p>
    </form>
  </div>
</body>
